/* Colors */
$white: #FFFFFF;
$black: #000f33;
$grayLight: #e7e7e8;
$gray: #8c8f93;
$gray2: #9d9fa2;
$gray3: #8a8c8f;
$grayDark: #6d6e70;
$blueLight: #c6d8df;
$blueLight2: #8ba5b3;
$blue: #000e31;
$blue2: #082441;
$blue3: #1b3d59;
$red: #E82814;
$green: #3C9051;

/*New Colors*/
$cipherRed: #d81e3b;
$RedHover: #B71C1C;
$warmGrey: #f5f5f5;
$webText: #333333;
$lightBorder: #cccccc;
$darkGrey: #403f3e;
$cipherBlue: #077cc2;
$submitHover: #2196F3;
$lightGrey: #8C8F93;
$DarkBlueHover: #0B235F;
$GreyoverBlack: #999;
$GreyHover: #353535;

/* Misc */
$gutter: 2px;

/* Breakpoints */
$wide: 1440px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;


/* Section Colors */
$international: #FF651F;
$map-room: #E82814;
$tech: #448CB8;
$perspectives-culture: #3C9051;
